.project,
.project-reverse {
  max-width: 1440px;
  display: flex;

  flex: 1;
  gap: 2rem;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.3),
    rgba(15, 15, 24, 0.2)
  );
  border: 0.1rem solid #20222e;
  padding: 2rem;
  border-radius: 2rem;
  margin: 0 auto 5rem;
}

.project-reverse {
  flex-direction: row-reverse;
}

.project-img {
  width: 100%;
  height: 500px;
  background-color: #c4c4c4;
  border-radius: 1.5rem;
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.project-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
}

.project-text h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

.project-text__desc {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.2;
}

.project:hover img,
.project-reverse:hover img {
  scale: 1.05;
}

@media screen and (max-width: 968px) {
  .project-img {
    width: 100%;
    height: 400px;
  }
  .btn-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .project-img {
    width: 100%;
    height: 400px;
  }

  .project {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .project-text,
  .project-reverse {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
}

@media screen and (max-width: 400px) {
  .project-img {
    width: 100%;
    height: 250px;
  }

  
}
