.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}

.title {
  font-weight: 200;
  text-align: center;
  font-size: 5vh;
  color: var(--neutral-2);
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.3),
    rgba(15, 15, 24, 0.2)
  );
  border: 0.1rem solid #20222e;
  padding: 1rem;
  border-radius: 2rem;
}

.title span {
  font-weight: 700;
  color: var(--neutral-1);
}

@media screen and (max-width: 575px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .title {
    font-size: 2rem;
  }
  .home {
    padding: 0 0.5rem;
  }
}
