.banner {
  pointer-events: none;
  font-size: 15rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.07);
  line-height: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
}

.banner-h2 {
  max-width: 1440px;
  overflow: hidden;
}

.h2-container {
  overflow: hidden;
}

@media screen and (max-width: 970px) {
  .banner {
    font-size: 10rem;
    text-align: center;
    justify-content: center;
  }
  .banner-h2 {
    max-height: 250px;
  }
}

@media screen and (max-width: 660px) {
  .banner {
    font-size: 5.6rem;
  }

  .banner-h2 {
    overflow: hidden;
    max-height: 150px;
  }
}
/*-----------------------------------------Fullname---------------------*/

.fullname{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
}

.fullname h2{
  font-size: 2vw;
  text-transform: capitalize;
}